{% load static %}

<li>
    <article class = 'post'>
        <a href = ''>
        <img src = '{% static 'blog/images/mountains.jpg' %}' alt = 'mountain Hiking'>
        <div class = 'post_content'>
            <h3>Mountain Hiking</h3>
            <p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Iure cumque omnis perferendis eaque ad quisquam ratione obcaecati expedita, sint odit tenetur sunt, veritatis nihil dolorem quos. Consectetur, animi, tempore.</p>
        </div>
        </a>
    </article>
</li>