<div class="new-post__container">
    <a class="new-post card" href="{% url 'post' post.slug %}">
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="newest-post__author-picture">
        <h1>
            {{ post.title }}
        </h1>
        <p>
           {{ post.excerpt }}
        </p>
        <!-- <div class="meta-readmore">
            <div class="meta">
                <div class="author-date">
                    <h6><a href="#">Authors Name</a></h6>
                    <small>date-created</small>
                </div>
            </div>
        </div> -->
    </a>
</div>