body {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

#main-navigation {
    display: flex;
    padding: 3%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    min-width: 386px;
}

#main-navigation h1 {
    font-size: 1rem;
    padding: 0;
    margin: 0 1rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

#main-navigation nav {
    display: flex;
    justify-content: space-evenly;
    flex: 2;
}

#main-navigation a {
    margin: 0;
}

 #summary {
    padding: 1rem 2rem;
    min-width: 0;
    max-width: 346px;
}

#summary h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-left:1rem;
}

/* .tag {
    margin-left: 2.2rem;
} */

#summary article img {
    height: 12rem;
    width: 12rem;
    border: none;
    padding: 0;
    margin: 0;
    transform: rotate(0);
    border-radius: 50%;
}

/* #summary address {
    margin-top: 25%;
    text-align: right;
}  */

#read-later {
    text-align: center;
    position: absolute;
    bottom: -25%;
    right: 2%;
}

#read-later button {
    background-color: #390281;
    width: 20rem;
}

main {
    margin-top: 5rem;
}

#latest-posts {
    margin-top: 5rem;
    width: 80%;
}

#latest-posts h2 {
    width: 100%;
}

#latest-posts ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#latest-posts ul li {
    border-bottom:1px dotted #ccc;
}

#latest-posts ul li:last-of-type {
    border:none;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-header {
    display: none;
}

.pagination-section {
    bottom: 10%;
}