{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app.css'%}">
     <title>{% block title %}Title {% endblock %}</title>
    {% block css %}{% endblock %}
    <style>
        .navbar {
            padding:0;
        } 

        .d-flex {
            height: 100%;
            margin-top: 1rem;
        }

        .d-flex button {
            background-color: #390281;
            color:white;
            outline: #390281;
            border: none;
        }

        .d-flex button:hover,
        .d-flex button:active {
            background-color: #5706c0;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage' %}">Ali's Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'posts' %}">All Posts</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Topics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Topic</a></li>
                        <li><a class="dropdown-item" href="#">Another Topic</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            User's Username Here
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Saved Posts</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'sign-out' %}">Sign Out</a></li>
                        </ul>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sign-in' %}">Sign In</a>
                    </li>
                    {% endif %}
                    {% comment %} <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sign In</a>
                    </li> {% endcomment %}
            </ul>
            <form id = "searchForm" class="d-flex" action="{% url 'posts' %}" method="get">
                <input class="form-control me-2" type="search" value="{{search_query}}" placeholder="Search" aria-label="Search" name="search_query">
                <button class="btn btn-outline-success" type="submit" style="height:2.4rem;">Search</button>
            </form>
        </div>
  </div>
</nav>
{% block content %}
{% endblock %}
        {% comment %} <ul>
            <li id  = 'website-name'><a href="index.html">Website name</a></li>
            <li class = 'header-list'><a href="index.html">Home</a></li>
            <li class = 'header-list'><a href="about.html">About</a></li>
            <li class = 'header-list'><a href="contact.html">Contact</a></li> 
        </ul> {% endcomment %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
