{% if queryset.has_other_pages %}

<section class="pagination-section">
    <ul class="pagination__items">
        {% if queryset.has_previous %}
            <li class="pagination-item"><a href="?page={{ queryset.previous_page_number }}">Prev &#10094;</a></li>
        {% endif %}

        {% for page in custom_range %}

            {% if page == queryset.number %}
            <li class="pagination-item pagination-item__highlighted"><a href="?page={{ page }}">{{ page }}</a></li>
            {% else %}
            <li class="pagination-item"><a href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}

        {% endfor %}

        {% if queryset.has_next %}
            <li class="pagination-item"><a href="?page={{ queryset.next_page_number }}">Next &#10095;</a></li>
        {% endif %}
    </ul>
</section>

{% endif %}