{% extends 'base.html' %}
{% load static %}
 {% block title %}
 Welcome | HomePage
 {% endblock %}

{% block css %}
    <style>
        .newest-post {
            background-image: url("{{ latest_post.image.url }}");
            position: relative;
            top: 10%;
        }
    </style>
  <link rel = 'stylesheet' href = '{% static 'blog/index.css'%}'>
{% endblock %}

 {% block content %}
        <main id="main">
        <section class="newest-post">
            <h1>
                {{ latest_post.title }}
            </h1>
            <p>
                {{ latest_post.excerpt }}
            </p>
            <div class="meta-readmore">
                <div class="meta">
                    <img src="{{ latest_post.author.profile.profile_picture.url }}" alt="{{ latest_post.author.username }}" class="newest-post__author-picture">
                    <div class="author-date">
                        <h6><a href="{% url 'profile' latest_post.author.username %}">{{ latest_post.author.username }}</a></h6>
                        <small>{{ latest_post.date_created }}</small>
                    </div>

                </div>
                <div class="read-more">
                    <a href="{% url 'post' latest_post.slug %}" class="button">Read More</a>
                </div>
            </div>
        </section>
    </main>

    <!-- Other New Posts Section -->

    <section id="new-posts">
        {% for post in posts %}
          {% include 'blog/includes/post.html'%}
        {% endfor %}
    </section>

    {% endblock %}