{% extends 'base.html' %}
{% load static %}
 {% block title %}
 Welcome | HomePage
 {% endblock %}

{% block css %}
  <link rel = 'stylesheet' href = '{% static 'blog/post.css'%}'>
  <link rel = 'stylesheet' href = '{% static 'blog/index.css'%}'>
  <link rel="stylesheet" media = "screen and (min-width:651px) and (max-width:768px)" href="{% static 'blog/tablet.css' %}">
  <link rel="stylesheet" media = "screen and (min-width:501px) and (max-width:650px)" href="{% static 'blog/mini-tablet.css' %}">
  <link rel="stylesheet" media = "screen and (max-width:500px)" href="{% static 'blog/smartphone.css' %}">
{% endblock %}
 {% block content %}
    <section id = 'welcome'>
      <header>
        <img src = '{% static 'blog/images/me.jpg' %}' alt = 'Ali - The Author Of This BLog'>
        <h2 class = "welcome-header">Ali' Blog</h2>
      </header>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, molestiae.</P>
    </section>

    <section id= 'latest-posts'>
      <h2>My Latest Thoughts</h2>
      <ul>
        {% for post in posts %}
          {% include 'blog/includes/post.html'%}
        {% endfor %}
      </ul>
    </section>

    <section id = 'about'>
      <h2> What I Do</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, molestiae.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, molestiae.
      </p>
    </section>

    {% endblock %}