{%extends 'base.html' %}
{% load static %}


{% block title %}
{{ one_post.title }}
{% endblock %}

{% block css %}
<link rel = 'stylesheet' href = '{% static 'blog/post-detail.css' %}'>
<link rel="stylesheet" media = "screen and (min-width:651px) and (max-width:768px)" href="{% static 'blog/tablet.css' %}">
<link rel="stylesheet" media = "screen and (min-width:501px) and (max-width:650px)" href="{% static 'blog/mini-tablet.css' %}">
<link rel="stylesheet" media = "screen and (max-width:500px)" href="{% static 'blog/smartphone.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <section id  = 'summary'>
            <h2>{{ one_post.title }}</h2>
            <div id = "tags">
                {% for tag in post_tags %}
                    <span class = 'tag'> {{ tag.caption }} </span>
                {% endfor %}
            </div>
            <div id="read-later">
                <form action="{% url "read-later" %}" method="post">
                {% csrf_token %}
                    <input type="hidden" value="{{ one_post.id }}" name="post_id">
                    <button>
                        {% if saved_for_later %}
                        Remove from "Read Later" List
                        {% else %}
                        Read Later
                        {% endif %}
                    </button>
                </form>
            </div>
            <article class = "article">
                <img src = "{{ one_post.image.url }}" alt = '{{ one_post.title }}'> <!--add filter(after the quotations) will add the value of the key 'image' after the slash-->
            </article>
            <div class="address">
                <address>By <a href = 'mailto:{{post.author.email_address}}'>{{ one_post.author }}</a></address>
                <div class="time">Last Updated on <time>{{ one_post.date|date:'d M Y'}}</time></div> <!-- one of the several ways of foramting the date-->
            </div>
        </section>

        {% if form.errors %}
            <div id = "alert">
                <h2>Saving The Comment Failed!</h2>
                <p>Please Check the comment form below the form and fix your errors.</p>
                <a href="#comment-form">Fix!</a>
            </div>
        {% endif %}
        <main>
            {{ one_post.content|linebreaks }} <!--we can use the value of the key content from one_post variable that we passed via context of the function related to this template-->
        </main>                     <!--in the above line, all the linebreaks were removed(default behavior), so we can use linebreak filter to add them again-->
        <section id = "comments">
            <ul>
                {% for comment in comments %}
                    <li>
                        {% if comment.user.profile.profile_picture %}
                        <img src="{{ comment.user.profile.profile_picture.url }}" class="comment-profile-picture" alt="{{ comment.user.username }}">
                        {% endif %}
                        <h2>
                            <a href="{% url 'profile' comment.user.username %}">{{ comment.user.username }}</a>
                        </h2>
                        <p>
                            {{ comment.comment_content|linebreaks }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section id = "comment-form">
            <h2>Share Your Opinion</h2>
            <form action="{% url 'post' one_post.slug %}" method = "post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-control {% if field.errors %}invalid{% endif %}">
                    {{ field.label }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                {% if request.user.is_authenticated %}
                <button type="submit">Send</button>
                {% else %}
                <button disabled="disabled" class="button-disabled">Send <span class="users-only">(Users Only)</span></button>
                {% endif %}
            </form>
        </section>
    </div>
{% endblock %}